*{
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* 一番上 */
header1{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.header-left{
    display: flex;
}
.header-left p {
    font-size: 2rem;
    padding-top: 35px;
}
.header-left img{
    width: 150px;
}
.header-right{
    font-size: 1.5rem;
    padding-top: 35px;
}

/* 冒頭メニュー */
header2 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header2 ul li{
    background-color: lightblue;
    cursor: pointer;
    border-radius: 10%;
    border: solid 1px gray;
}

/* slider */
.slide-container{
    display: flex;
    transition: all 1s ease;
    width: 100%;
    height: 400px;
}
.container-wrap{
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.left-arrow, .right-arrow{
    cursor: pointer;
}
.left-arrow{
    content: "";
    width: 20px;
    height: 37px;
    border-bottom: solid 2px orange;
    border-right: solid 2px orange;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50px;
    transform: rotate(128deg);
}
.right-arrow{
    content: "";
    width: 20px;
    height: 37px;
    border-bottom: solid 2px orange;
    border-right: solid 2px orange;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
}
.slide{
    min-width: 110%;
    text-align: center;
    background-repeat: no-repeat;
}
.slide:nth-child(1){
    background-image: url(./img/\ \ slide1.jpg);
    height: 400px;
    width: 1000px;
}
.slide:nth-child(2){
    background-image: url(./img/sizechangedimg2.png);
    height: 400px;
    width: 1000px;
}

/* 上に行くボタン */
.figtop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 10%;
    border: transparent;
    background-color: yellow;
    cursor: pointer;
    opacity: 0.5;
    padding: 15px 20px;
    border-radius: 30%;
}
.figtop:hover{
    opacity:1;
}
.btn{
    display: none;
}

/* CEOについて */
.ceo{
    padding-top: 40px;
}
.ceo div {
    display: flex;
    position: relative;
}
.ceo img{
    width: 300px;
    height: auto;
    border-radius: 50%;
}
.ceo p{
    position: relative;
    top: 50px;
}

/* アコーディオン */
.accordi{
    text-align: start;
    margin-top: 50px;
}
.accordi h2{
    margin-bottom: 10px;
}
.question {
    background-color:lightblue;
    position: relative;
    cursor: pointer;
}
.question, .answer{
    padding: 10px;
    border: solid .5px;
    list-style: none;
    margin-bottom: 5px;
}
.question.on::before {
    display: none;
}
.c{
    display: none;
}
.answer {
    background-color: rgb(230, 160, 75);
    display: none;
}

/* フッター */
footer{
    margin-top: 50px;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-position: 15% 15%;
    background-size: 12%;
    background-color: rgba(223, 255, 255, 0.8);
    background-blend-mode: lighten;
}
.lastmenu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.lastmenu ul li{
    background-color: lightblue;
    cursor: pointer;
}
#info{
    position: relative;
    left: 94px;
}
#info p, ul li{
    cursor: pointer;
}
#info p:first-child{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#info p:last-child{
    margin-bottom: 5px;
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
footer p:last-child{
    font-size: .8rem;
}

/* その他 */
h2{
    font-size: 1.5rem;
    display: flex;
}

/* modalの部分 */
.works{
    margin-top: 50px;
}
.works h2{
    margin-bottom: 20px;
}
.modal-container1{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all .5s ease;
} 
.modal-container1.on{
    z-index: 2;
    opacity: 1;
}
.modal-container2{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all .5s ease;
} 
.modal-container2.on{
    z-index: 2;
    opacity: 1;
}
.modal-container3{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all .5s ease;
}
.modal-container3.on{
    z-index: 2;
    opacity: 1;
}
.modal-message{
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
} 
.modal-close{
    display: block;
    content: '';
    width: 27px;
    height: 10px;
    background-color: #000;
    position: relative;
    right: 0;
    top: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.modal-close::before{
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 8px;
    background-color: #000;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}
.modals{
    display: flex;
    justify-content: space-around;
} 
.close-btn-wrap{
    text-align: right;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
}
.modal-btn1, .modal-btn2, .modal-btn3{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 10px;
    border: solid 1px gray;
}