*{
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header1{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.header-left img{
    width: 100px;
}
.header-left{
    display: flex;
    font-size: 2rem;
}
.header-right{
    font-size: 1.5rem;
    padding-top: 35px;
}

header2 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header2 ul li{
    background-color: lightblue;
    cursor: pointer;
    border-radius: 10%;
}

button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 10%;
    border: transparent;
    background-color: yellow;
    cursor: pointer;
    opacity: 0.5;
}
button:hover{
    opacity:1;
}